.divhx {
    /*不会换行*/
    white-space: nowrap;
    overflow-x: auto;

    /* 把边框显示出来,可以看到效果 */
    /*border: 1px solid #F00;*/

    height: 30px;
}

.remarktip {
    margin-left: 10px;
    color: #4b67e2;
    font-size: small;
}

.remark {
    margin-left: 10px;
    color: #4b67e2;
    font-size: small;
}

.remarkupdate {
    margin-left: 10px;
    color: #4b67e2;
    font-size: small;
}
