<?xml version="1.0" encoding="utf-8" ?>


 


<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <targets>

    <!--   <target  encoding="utf-8"/>  避免中文乱码 -->
    <target name="file1"
            xsi:type="File"
            fileName="${basedir}/${logger}${date:format=yyyyMMddHHmmss}.txt"
            layout="时间:${longdate} ${newline}等级data:${level} ${newline}消息info:${message} ${newline}计数器:${counter:increment=1:sequence=Layout:value=1}${newline}"
            encoding="utf-8" />

  </targets>
  
  <rules>

    <!--只输出大于等于Trace的信息-->
    <logger name="*" 
            minlevel="Trace" 
            writeTo="file1"/>

  </rules>
</nlog>


