
.selectdate {
  text-align: center;
}

.sumouttxt {
  color: @outcolor;
  text-align: center;
  padding-top: 10px;
}

.sunoutmoney {
  color: @outcolor;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
  font-size: 30px;
}

.suninmoney {
  text-align: center;
  padding-top: 10px;
  font-size: 15px;
}

.typeitem {
  margin-top: 10px;

  .typeitemmoney {
    font-weight: bold;
  }
}


.typestat {

  .head {
    .title {
      margin-left: 15px;
      font-size: 18px;
      //font-weight: bold;
    }

    .itemmoney {
      position: absolute;
      right: 28px;

      .outactive {
        background-color: #eafbf6;
        border-color: @outcolor;
        color: @outcolor;
      }

      .inactive {
        background-color: #fbf8f0;
        border-color: @incolor;
        color: @incolor;
      }

      .itemtxt {
        padding: 5px;
        margin-left: 8px;
      }
    }

  }
}

.monthstat {
  .head {
    .title {
      margin-left: 15px;
      font-size: 18px;
      //font-weight: bold;
    }

    .itemmoney {
      position: absolute;
      right: 28px;

      .outactive {
        background-color: #eafbf6;
        border-color: @outcolor;
        color: @outcolor;
      }

      .inactive {
        background-color: #fbf8f0;
        border-color: @incolor;
        color: @incolor;
      }

      .itemtxt {
        padding: 5px;
        margin-left: 8px;
      }
    }
  }
}

.daystat {
  .head {
    .title {
      margin-left: 15px;
      font-size: 18px;
      //font-weight: bold;
    }

    .itemmoney {
      position: absolute;
      right: 28px;

      .outactive {
        background-color: #eafbf6;
        border-color: @outcolor;
        color: @outcolor;
      }

      .inactive {
        background-color: #fbf8f0;
        border-color: @incolor;
        color: @incolor;
      }

      .itemtxt {
        padding: 5px;
        margin-left: 8px;
      }
    }
  }
}


.outtop{
  .title {
    margin-left: 15px;
    font-size: 18px;
    //font-weight: bold;
  }
}

