<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <targets>

    <!--   <target  encoding="utf-8"/>  避免中文乱码 -->
    <target name="fileapp"
            xsi:type="File"
            fileName="${basedir}/logs/${date:format=yyyyMMdd}/${date:format=yyyyMMdd}.log"
            layout="${longdate}  ${message}${newline}"
            encoding="utf-8" />

    <target name="fileid"
            xsi:type="File"
            fileName="${basedir}/logs/${date:format=yyyyMMdd}/${date:format=yyyyMMdd}___ID${event-properties:item=idsdata}.log"
            layout="${longdate}  ${message}${newline}"
            encoding="utf-8" />
    
  </targets>
  
  <rules>

    
    <logger name="app"       
            minlevel="Trace"       
            writeTo="fileapp"/>

     <logger name="ids"             
             minlevel="Trace"             
             writeTo="fileid"/> 
    
  </rules>
</nlog>